 <!-- New Arrivals -->
      <form style="margin: 300px auto; width: 300px" method="post">
          <div class="form-group" >
            <label for="exampleInputEmail1" >Địa chỉ Email</label>
            <input name="email" type="email" class="form-control is-valid" id="email" aria-describedby="emailHelp" placeholder="Enter email" >
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Mật khẩu</label>
            <input name="password" type="password" class="form-control" id="password" placeholder="Password" style="margin: auto; width:300px">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Họ tên</label>
            <input type="text" class="form-control" id="fullname" placeholder="Full name">
          </div>
           <div class="form-group">
            <label for="exampleInputPassword1">Địa chỉ</label>
            <input type="text" class="form-control" id="address" placeholder="Address">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Số điện thoại</label>
            <input type="text" class="form-control" id="phonenumber" placeholder="Phone number">
          </div>
          <button type="submit" class="btn btn-primary">Đăng ký</button>
          <div id="error" style="color: red;">{{error}}</div>
      </form>
      {{#section 'script'}}
    <script>
      
        $('#email').on('input', function () {
            const emailInput = $("#email");
            console.log(emailInput);
            $.getJSON('/api/check-email-exist/' + emailInput.val(), function (isExist) {
                if (isExist) {
                  console.log("IS exist !!");
                  emailInput.addClass('is-invalid');
                    emailInput.removeClass('is-valid');
                    $('#error').html('Email đã tồn tại');
                } else {
                  console.log("No exist !!");
                  emailInput.addClass('is-valid');
                    emailInput.removeClass('is-invalid');
                    $('#error').html('');
                }
            });
        });
    </script>
{{/section}}